/*Basic HTML elements and universal classes*/

* {
  font-family: 'Lato', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #c1e1dc;
  overflow: hidden;
}

/*----------------------------------------------*/
/*App.jsx*/

.centered {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  background-color: #ffffff;
  padding: 0;
}

.chat {
  position: absolute;
  height: 100%;
  top: 0;
  left: 10%;
}

#app {
  width: 100%;
  height: 100%;
}

/*----------------------------------------------*/
/*Header.jsx*/

.navLogo {
  padding: 5px;
}

.navBackground {
  background-color: #ffccac;
  /*padding-right: 0px;*/
}

.navButton {
  margin-left: 10px;
  color: #ffffff !important;
  font-size: large;
}

.navbar-default{
  background-color: #ffccac;
  border: none;
}

.navButton:hover {
  font-weight: bold;
}

.navIcon {
  color: #cb8689;
}

.navCollapsedButton {
  background-color: #cb8689 !important;
}

.navCollapsedButtonItem {
  background-color: #ffffff !important;
}

/*----------------------------------------------*/
/*NotFound.jsx*/

.link404 {
  text-decoration: none;
  color: #86cbc4;
}

.link404:hover {
  text-decoration: none;
  font-weight: bold;
  color: #fc45a3;
}

/*----------------------------------------------*/
/*list*/

#list {
  position: absolute;
  top: 51px;
  left: 0;
  display: inline-block;
  width: 30%;
  height: 100%;
  background-color: whitesmoke;
  overflow: scroll;
  float: left;
}

.item {
  width: 100%;
  height: 70px;
  background-color: #fcf4c9;
  border-bottom: solid whitesmoke;
}

.item:hover{
  background-color: #ffeb94;
}

.profileImage{
  margin-top: 10px;
  margin-left: 10px;
}

.imageItem{
  display: inline-block;
  width: 70px;
  height: 70px;
  float: left;
}

.nameItem{
  display: inline-block;
  margin-top: 25px;
}

/*----------------------------------------------*/
/*Login.jsx*/

.login {
  color: #777;
  height: 75%;
  margin-top: 10%;
  box-shadow: 1px 1px rgba(0,0,0,0.23);
}

.appName {
  font-family: 'Pacifico', sans-serif;
  color: #ffccac;
}

.loginSubtitle {
  font-weight: 500;
}

.socialMedia{
  width: 100%;
  height: 100px;
  padding-left: 5%;
  background-color: whitesmoke;
  margin-top: 10px;
}

.panelDiv{
  background-color: white;
  width: 60%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  padding-bottom: 2%;
  color: #777
}

.loginFlow{
  width: 55%;
}

.inputLogin{
  height: 35px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  outline-color: #ffe87c;
}

.loginButton{
  background-color: #77dd77;
  float: right;
  border: none;
  color: white;
  padding: 8px 20px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.loginButton:hover{
  opacity: 0.85;
}

#signUpHere{
  color: #cb8689;
  font-weight: bold;
}

#signUpHere:hover{
  color: #ffccac;
}

.fblogin{
  height: 35px;
  width: 60%;
  margin-bottom: 5px;
  background-color: #3c5b9a;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 18%;
}

.imgFb{
  display: inline-block;
  width: 10%;
  margin-top: 0px;
}

.textFb{
  display: inline-block;
  text-align: center !important;
  width: 85%;
  font-size: 17px;
  color: white;
  font-weight: 400;
  margin-top: 3px;
}

.fblogin:hover{
  opacity: 0.85;
}

/* picker css*/

.emoji-dialog {
  width: 276px;
  height: 220px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 2px 15px rgba(0,0,0,0.1);
}

.emoji-dialog .emoji-dialog-header {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 42px;
  padding: 0 10px;
  background-color: #F5F7F9;
}

.emoji-dialog .emoji-dialog-header ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.emoji-dialog .emoji-dialog-header li {
  display: inline-block;
  box-sizing: border-box;
  width: 32px;
  height: 42px;
  padding: 9px 4px;
}

.emoji-dialog .emoji-dialog-header img {
  width: 22px;
  height: 22px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.emoji-dialog .emoji-dialog-header li.active {
  background: #fff;
}

.emoji-dialog .emoji-dialog-header li.active img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.emoji-dialog .emoji-grandlist {
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 42px);
  overflow-x: hidden;
  overflow-y: auto;
}

.emoji-dialog .emoji-category-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.emoji-dialog .emoji-category-list li {
  display: inline-block;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  padding: 4px;
  border-radius: 4px;
}

.emoji-dialog .emoji-category-header {
  margin-top: 10px;
  margin-bottom: 8px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: normal;
  color: #444;
  padding: 0 4px;
}

.emoji-dialog .modifiers {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 22px;
  right: 15px;
}

.emoji-dialog.with-search .modifiers {
  top: 52px;
}

.emoji-dialog .modifiers li {
  display: inline-block;
  padding: 0 2px;
}

.emoji-dialog .modifiers .modifier {
  display: inline-block;
  border-radius: 10px;
  width: 15px;
  height: 15px;
  position: relative;
}

.emoji-dialog .modifiers .modifier.active::after {
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 10px;
  border: 2px solid #fff;
  top: 2px;
  left: 2px;
}

.emoji-dialog .modifiers li:hover {
  -moz-transition-duration: 200ms;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;

  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
}

.emoji-dialog .emoji-search-wrapper {
  padding: 0 5px;
}

.emoji-dialog .emoji-search {
  font-size: 12px;
  padding: 6px 4px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.emoji-dialog .emoji-category-list li:hover {
  background: #F5F7F9;
}

.emoji-dialog .emoji-category-list .emoji img {
  width: 22px;
  height: 22px;
}


