/*Basic HTML elements and universal classes*/

* {
  font-family: 'Lato', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #c1e1dc;
  overflow: hidden;
}

/*----------------------------------------------*/
/*App.jsx*/

.centered {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  background-color: #ffffff;
  padding: 0;
}

.chat {
  position: absolute;
  height: 100%;
  top: 0;
  left: 10%;
}

#app {
  width: 100%;
  height: 100%;
}

/*----------------------------------------------*/
/*Header.jsx*/

.navLogo {
  padding: 5px;
}

.navBackground {
  background-color: #ffccac;
  /*padding-right: 0px;*/
}

.navButton {
  margin-left: 10px;
  color: #ffffff !important;
  font-size: large;
}

.navbar-default{
  background-color: #ffccac;
  border: none;
}

.navButton:hover {
  font-weight: bold;
}

.navIcon {
  color: #cb8689;
}

.navCollapsedButton {
  background-color: #cb8689 !important;
}

.navCollapsedButtonItem {
  background-color: #ffffff !important;
}

/*----------------------------------------------*/
/*NotFound.jsx*/

.link404 {
  text-decoration: none;
  color: #86cbc4;
}

.link404:hover {
  text-decoration: none;
  font-weight: bold;
  color: #fc45a3;
}

/*----------------------------------------------*/
/*list*/

#list {
  position: absolute;
  top: 51px;
  left: 0;
  display: inline-block;
  width: 30%;
  height: 100%;
  background-color: whitesmoke;
  overflow: scroll;
  float: left;
}

.item {
  width: 100%;
  height: 7%;
  background-color: #ffe87c;
}

.item:hover{
  background-color: #ffeb94;
}

.profileImage{
  margin-top: 10px;
  margin-left: 10px;
}

.imageItem{
  display: inline-block;
  width: 70px;
  height: 100%;
  float: left;
}

.nameItem{
  display: inline-block;
  margin-top: 25px;
}

/*----------------------------------------------*/
/*Login.jsx*/

.login {
  color: #777;
  height: 75%;
  margin-top: 10%;
  box-shadow: 1px 1px rgba(0,0,0,0.23);
}

.appName {
  font-family: 'Pacifico', sans-serif;
  color: #ffccac;
}

.loginSubtitle {
  text-decoration: underline;
  font-weight: bold;
}


